asgiref==3.8.1
boto3==1.34.113
botocore==1.34.113
certifi==2024.2.2
charset-normalizer==3.3.2
da-vinci==0.4.0
dj-database-url==2.1.0
Django==5.0.6
django-admin-honeypot==1.1.0
django-admin-thumbnails==0.2.9
django-appconf==1.0.6
django-ckeditor-5==0.2.13
django-compressor==4.4
django-cors-headers==4.3.1
django-crispy-forms==2.1
django-decouple==2.1
django-dotenv==1.4.2
django-filter==24.2
django-js-asset==2.2.0
django-sass-processor==1.4
django-storages==1.14.3
django-thumbnails==0.7.0
djangorestframework==3.15.1
gunicorn==22.0.0
idna==3.7
jmespath==1.0.1
packaging==24.0
pillow==10.3.0
psycopg2==2.9.9
psycopg2-binary==2.9.9
python-dateutil==2.9.0.post0
rcssmin==1.1.1
requests==2.32.2
rjsmin==1.2.1
s3transfer==0.10.1
shortuuid==1.0.13
six==1.16.0
sqlparse==0.5.0
typing_extensions==4.12.0
urllib3==2.2.1
whitenoise==6.6.0
