{% extends 'base.html' %}
{% block title %} | Home {% endblock %}
{% block content %}
{% load static %}
{% load sass_tags %}

<div class="about-icon-box-area sing-service mt-75 mb-80">
    <div class="container">
      
        <div class="row">
            <div class="col-12">
                <div class="about-icon-box">
                
                    <h3 class='text-center'>{{ tip.title }}</h3>
                    <p>{{ tip.content | safe }}</p>
                    <a href="{{ tip.source_url }}" target="_blank">Source <i class="fas fa-arrow-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}