/* static/admin/css/custom.css */
body {
    background-color: #f0f0f0;
}

#header {
    background-color: #6861bc;
    color: #fff;
}

#branding h1 a {
    color: #fff;
}

.module caption {
    background: #6861bc;
    color: #fff;
}
a:link, a:visited{
    color: #d9d8e1;
}